
    div{
        background-color: deepskyblue;
        margin: 0;
        text-align: center;
        }

    h2, p {
       font-family: 'Inter', sans-serif;
       margin: 0;
       text-align: center;
       }

    h2{
       font-family: 'William', serif;
       margin: 0;
       text-align: center;
      }

    img{
       width="210px";
       }

    h3{
      text-align:left;
      font-size: 20px;
      font-weight: bold;
      }

   body{
      width: 500px;
      height: 500px;
      text-align: center;
      min-width: 850px;
      }
